<plugin>
	<extension
            point="com.katalon.platform.extensions">
        <point
                id="thanhto.smartxpathplugin.SmartXPathEventListenerInitializer"
                extensionPointId="com.katalon.platform.api.extension.event"
                implementationClass="com.katalon.plugin.smart_xpath.SmartXpathEventListenerInitializer">
        </point>
    </extension>
    	<extension
            point="com.katalon.platform.extensions">
        <point
                id="thanhto.smartxpathplugin.SmartXPathToolItemWithMenu"
                extensionPointId="com.katalon.platform.api.extension.newDropdownToolItem"
                implementationClass="com.katalon.plugin.smart_xpath.SmartXPathToolItemWithMenuDescription">
        </point>
    </extension>
    <extension
            point="com.katalon.platform.extensions">
        <point
                id="thanhto.smartxpathplugin.SmartXPathPluginActivationListener"
                extensionPointId="com.katalon.platform.api.extension.pluginActivationListener"
                implementationClass="com.katalon.plugin.smart_xpath.SmartXPathPluginActivationListener">
        </point>
    </extension>    
</plugin>
